.navbar {
	min-height: 38px;
  	background-color: #800000;
}

.container {
	min-height: 38px;
	text-decoration: none;
  	background-color: transparent;
}

table#items th.hilite {
	color: #800000;
	background-color: yellow;
}

.hidden {
	display: none;
}