.navbar {
	min-height: 38px;
	background-color: #800000;
	text-align: center;
	color: white;
  	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container {
	min-height: 38px;
	text-decoration: none;
	background-color: transparent;
}

table#items th.hilite {
	color: #800000;
	background-color: yellow;
}

.hidden {
	display: none;
}

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107
}

.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00
}

.btn-warning.focus.btn-warning:focus {
	box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-warning.disabled,
.btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.custom-paginate {
	display: flex;
	margin-top: 20px;
}

.custom-paginate form {
	margin-left: 10px;
}

.custom-paginate .submit-button {
	cursor: pointer;
	background-color: green;
	padding: 4px 8px;
	color: white;
}

.table {
	width:100%;
	margin-bottom:1rem;
	background-color:transparent
	font-size: 2rem;
}

.table td, .table th {
	padding:.75rem;
	vertical-align:top;
	border-top:1px 
	solid #dee2e6

}

.table thead th {
	vertical-align:bottom;
	border-bottom:2px 
	solid #dee2e6
}

.table tbody+tbody {
	border-top:2px 
	solid #dee2e6
}.table

.table {
	background-color:#fff
}.table-sm td

.table-sm th {
	padding:.3rem
}

.table-bordered {
	border:1px 
	solid #dee2e6
}.table-bordered td

.table-bordered th {
	border:1px 
	solid #dee2e6
}.table-bordered thead td

.table-bordered thead th {
	border-bottom-width:2px
}.table-borderless tbody+tbody

.table-borderless td,.table-borderless th,.table-borderless thead th {
	border:0
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color:rgba(0,0,0,.05)
}
.table-hover tbody tr:hover {
	background-color:rgba(0,0,0,.075)
}.table-primary,.table-primary>td

.table-primary>th {
	background-color:#b8daff
}.table-primary tbody+tbody,.table-primary td,.table-primary th

.table-primary thead th {
	border-color:#7abaff
}.table-hover 

.table-primary:hover {
	background-color:#9fcdff
}.table-hover .table-primary:hover>td

.table-hover .table-primary:hover>th {
	background-color:#9fcdff
}.table-secondary,.table-secondary>td

.table-secondary>th {
	background-color:#d6d8db
}.table-secondary tbody+tbody

.table-secondary th,.table-secondary thead th {
	border-color:#b3b7bb
}.table-hover 

.table-secondary:hover {
	background-color:#c8cbcf
}.table-hover .table-secondary:hover>td,.table-hover 

.table-secondary:hover>th {
	background-color:#c8cbcf
}.table-success,.table-success>td

.table-success>th {
	background-color:#c3e6cb
}.table-success tbody+tbody,.table-success td,.table-success th

.table-success thead th {
	border-color:#8fd19e
}.table-hover 

.table-success:hover {
	background-color:#b1dfbb
}.table-hover .table-success:hover>td,

.table-hover .table-success:hover>th {
	background-color:#b1dfbb
}.table-info,.table-info>td

.table-info>th {
	background-color:#bee5eb
}.table-info tbody+tbody,.table-info td,.table-info th

.table-info thead th {
	border-color:#86cfda
}.table-hover 

.table-info:hover {
	background-color:#abdde5
}.table-hover .table-info:hover>td,.table-hover 

.table-info:hover>th {
	background-color:#abdde5
}.table-warning,.table-warning>td

.table-warning>th {
	background-color:#ffeeba
}.table-warning tbody+tbody,.table-warning td,.table-warning th

.table-warning thead th {
	border-color:#ffdf7e
}.table-hover 

.table-warning:hover {
	background-color:#ffe8a1
}.table-hover .table-warning:hover>td,.table-hover 

.table-warning:hover>th { 
	background-color:#ffe8a1
}.table-danger,.table-danger>td

.table-danger>th {
	background-color:#f5c6cb
}.table-danger tbody+tbody,.table-danger td,.table-danger th

.table-danger thead th {
	border-color:#ed969e
}.table-hover 

.table-danger:hover {
	background-color:#f1b0b7
}.table-hover .table-danger:hover>td,.table-hover 

.table-danger:hover>th {
	background-color:#f1b0b7
}.table-light,.table-light>td

.table-light>th {
	background-color:#fdfdfe
}.table-light tbody+tbody,.table-light td,.table-light th

.table-light thead th {
	border-color:#fbfcfc
}.table-hover 

.table-light:hover {
	background-color:#ececf6
}.table-hover .table-light:hover>td,.table-hover 

.table-light:hover>th {
	background-color:#ececf6
}.table-dark,.table-dark>td,

.table-dark>th {
	background-color:#c6c8ca
}.table-dark tbody+tbody,.table-dark td,.table-dark th

.table-dark thead th {
	border-color:#95999c
}.table-hover 

.table-dark:hover {
	background-color:#b9bbbe
}.table-hover .table-dark:hover>td,.table-hover 

.table-dark:hover>th {
	background-color:#b9bbbe
}.table-active,.table-active>td

.table-active>th {
	background-color:rgba(0,0,0,.075)
}.table-hover 

.table-active:hover {
	background-color:rgba(0,0,0,.075)
}.table-hover .table-active:hover>td,.table-hover 

.table-active:hover>th {
	background-color:rgba(0,0,0,.075)
}.table 

.thead-dark th {
	color:#fff;background-color:#212529;border-color:#32383e
}.table 

.thead-light th {
	color:#495057;background-color:#e9ecef;border-color:#dee2e6
}.table-dark{color:#fff;background-color:#212529}.table-dark td,.table-dark th

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	margin-bottom:.5rem;
	font-family:inherit;
	font-weight:500;
	line-height:1.2;
	color:inherit
}

.h1,h1 {
	font-size:3rem
}

.h2,h2 {
	font-size:2.5rem
}

.h3,h3 {
	font-size:1.75rem
}

.h4,h4 {
	font-size:1.5rem
}

.h5,h5 {
	font-size:1.025rem
}

.h6,h6 {
	font-size:1.15rem;
	border:.5px solid transparent;
	padding:.15rem .15rem;
}

.lead {
	font-size:1.25rem;
	font-weight:300
}

.display-1 {
	font-size:6rem;
	font-weight:300;
	line-height:1.2
}

.btn {
	display:inline-block;
	font-weight:400;
	color:	#800000;
	text-align:center;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:transparent;
	border:1px solid transparent;
	padding:.25rem .35rem;
	font-size:1rem;
	line-height:1.5;
	border-radius:.25rem;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}@media screen and (prefers-reduced-motion:reduce){.btn{transition:none}}

.btn:hover {
	color:#212529;
	text-decoration:none
}.btn.focus

.btn:focus {
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}.btn.disabled,.btn:disabled{opacity:.65}.btn:not(:disabled):not(.disabled){cursor:pointer}a.btn.disabled,fieldset:disabled 

a.btn {
	pointer-events:none
}

.btn-primary {
	color:#fff;
	background-color:	#800000;
	border-color:
	border-color:#000000
}

.btn-primary:hover {
	color:#fff;
	background-color:#5a6268;
	border-color:#545b62
}.btn-primary.focus

.btn-primary:focus {
	box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}.btn-primary.disabled

.btn-primary:disabled {
	color:#fff;
	background-color:#007bff;
	border-color:#007bff}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>

.btn-primary.dropdown-toggle {
	color:#fff;
	background-color:#0062cc;
	border-color:#005cbf
}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}

.btn-secondary {
	color:#fff;
	background-color:#800000;
	border-color:#6c757d
	border:1px solid transparent;
	padding:.15rem .15rem;
	font-size:1rem;
	line-height:1.5;
	border-radius:.25rem;
}

.btn-secondary:hover {
	color:#fff;
	background-color:#5a6268;
	border-color:#545b62
}.btn-secondary.focus

.btn-secondary:focus {
	box-shadow:0 0 0 .2rem rgba(130,138,145,.5)
}.btn-secondary.disabled

.btn-secondary:disabled {
	color:#fff;
	background-color:#6c757d;
	border-color:#6c757d
}.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active,.show>

.btn-secondary.dropdown-toggle {
	color:#fff;
	background-color:#545b62;
	border-color:#4e555b
}.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-secondary

.form_tag label {
	font-weight:bold
}

input.body1 {
  width:25%;
}

input.body2 {
  width:40%;
  height:80%;
}














