.navbar {
	min-height: 38px;
	background-color: #800000;
}

.container {
	min-height: 38px;
	text-decoration: none;
	background-color: transparent;
}

table#items th.hilite {
	color: #800000;
	background-color: yellow;
}

.hidden {
	display: none;
}

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107
}

.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00
}

.btn-warning.focus.btn-warning:focus {
	box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-warning.disabled,
.btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.custom-paginate {
	display: flex;
	margin-top: 20px;
}

.custom-paginate form {
	margin-left: 10px;
}

.custom-paginate .submit-button {
	cursor: pointer;
	background-color: green;
	padding: 4px 8px;
	color: white;
}